---
layout: default
---

<article class="page">

  <h1>{{ page.title }}</h1>

  <div class="gallery">
    <img src="{{ site.baseurl }}/images/1.jpg" alt="img">
    <img src="{{ site.baseurl }}/images/2.jpg" alt="img">
    <img src="{{ site.baseurl }}/images/3.jpg" alt="img">
    <img src="{{ site.baseurl }}/images/4.jpg" alt="img">
    <img src="{{ site.baseurl }}/images/5.jpg" alt="img">
    <img src="{{ site.baseurl }}/images/6.jpg" alt="img">
    <img src="{{ site.baseurl }}/images/7.jpg" alt="img">
    <img src="{{ site.baseurl }}/images/8.jpg" alt="img">
  </div>

</article>
